PORT=3000

REDIS_URL=redis://localhost:6379

RABBITMQ_URL=amqp://localhost

QUEUE_NAME=notification_queue
DLQ_NAME=notification_dlq

VAPID_PUBLIC_KEY=PUBLIC_KEY
VAPID_PRIVATE_KEY=PRIVATE_KEY
VAPID_EMAIL=mailto:email@gmail.com